html * {
  font-family: 'Quicksand', sans-serif;
  background-color: blueviolet;
  color: white;
}

h1 {
  font-size: 9mm;
}

h2 {
  font-size: 7mm;
}

p {
  font-size: 4mm;
}

button {
  font-weight: bold;
  font-size: 4mm;
}

a {
  color: yellow;
}
